<nav>
  <div class="nav-main">
    <div class="nav-logo">
      <a href='/'>cdaemon</a>
    </div>

    <label class="menu-toggle" for="menuToggle"><i class="fas fa-bars"></i></label>
  </div>

  <div class="nav-menu">
    <input id="menuToggle" type="checkbox" hidden />
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <hr>
      <li><a href="/posts">Posts</a></li>
      <hr>
      <li><a href="/posts/tags">Tags</a></li>
      <hr>
      <li><a href="/projects">Projects</a></li>
      <hr>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
