<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.code || "Error" %> - cdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
  </head>

  <body>
    <header><%- include("../partials/header") -%></header>

    <main>
      <p><%= locals.message || "Oops! Something went wrong." %></p>
    </main>

    <footer><%- include("../partials/footer") -%></footer>
  </body>
</html>
