<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.code || "Error" %> - Verdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/skeleton.js"></script>
  </head>

  <body>
    <header id="included-header"></header>

    <main>
      <p><%= locals.message || "Something went wrong. Try again later." %></p>
    </main>

    <footer id="included-footer"></footer>
  </body>
</html>
