<!DOCTYPE html>
<html>
  <head>
    <title>Verdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(function(){ $("#included-header").load("/html/templates/header.html"); });
      $(function(){ $("#included-footer").load("/html/templates/footer.html"); });
    </script>
  </head>

  <body>
    <header id="included-header"></header>

    <main>
      <h1>Jake Freeland</h1>
      <div id="description">
        <p>
          [Description]
        </p>
      </div>
      <div id="contact-info">
        <ul>
          <li>email: jakesfreeland@gmail.com</li>
          <li>bitcoin: 97xsiqdiuwhqwu36duiqhb</li>
        </ul>
      <div>
      <h1>Eric Frederickson</h1>
      <div id="description">
        <p>
          Hi, my name is Eric Frederickson. I'm currently a freshman compsci student
          at the University of Minnesota, interested in Vim, Linux, C, teaching, and
          everything in between. Feel free to contact me via the methods listed below,
          and I will respond as soon as I am able.
        </p>
      </div>
      <div id="contact-info">
        <ul>
          <li>email: ericfrederickson68@gmail.com</li>
          <li>bitcoin: 2718bswnxsaojcsjawhqiuhw</li>
        </ul>
      <div>
    </main>

    <footer id="included-footer"></footer>
  </body>
</html>
