<!DOCTYPE html>
<html>
  <head>
    <title>Contact - Verdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <style>
      main {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }

      ul {
        list-style-position: inside;
      }

      a {
        color: #5a5a5a;
      }

      .subject a {
        text-decoration: none;
        font-family: "opensans-bold";
      }

      .subject a:hover {
        text-decoration: underline;
      }

      .spaced-block {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

    </style>
  </head>

  <body>
    <header><%- include("partials/header") -%></header>

    <main>
      <h1>Contact Information</h1>

      <div>
        <h2 class="subject"><a href="/user/jakesfreeland">Jake Freeland</a></h2>
        <hr>
        <div class="spaced-block">
          <p>Lead developer and experienced sysadmin</p>
          <ul>
            <li>Email: jakesfreeland@gmail.com</li>
            <li>Business Inquiries: jake@technologyfriends.net</li>
          </ul>
        </div>
      </div>

      <div>
        <h2>Contributors</h2>
        <hr>
        <div class="spaced-block">
          <ul class="subject">
            <li>Eric Frederickson &lt;ericfrederickson68@gmail.com&gt;</li>
          </ul>
        </div>
      </div>
    </main>

    <footer><%- include("partials/footer") -%></footer>
  </body>
</html>
