<!DOCTYPE html>
<html>
	<head>
		<title>Verdaemon</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script>
			$(function(){ $("#included-header").load("/html/templates/header.html"); });
			$(function(){ $("#included-footer").load("/html/templates/footer.html"); });
		</script>
	</head>

	<body>
		<header id="included-header"></header>

		<main>
			<section class="content">
				<div class="intro">
					<h1>Home</h1>
					<hr>
					<p>Welcome to Verdaemon</p>
					<p>
						This website is composed of casual ramblings about software from
						two experienced sysadmins. If you liked one of our posts, check out our
						<a href="/projects">projects</a>. Alternatively, feel free to browse
						the <a href="/archive">archives</a> to find a topic of interest.
					</p>
				</div>

				<div>
					<h2>Featured Posts</h2>
					<hr>
					<div class="featured-posts">
						<div class="featured-post">
							<div class="featured-left">
								<img src="/media/tux.png">
							</div>
							<div class="featured-right">
								<h3>Featured Post</h3>
								<p>post sneak peak!</p>
							</div>
						</div>
						<div class="featured-post">
							<div class="featured-left">
								<img src="/media/tux.png">
							</div>
							<div class="featured-right">
								<h3>Featured Post</h3>
								<p>post sneak peak!</p>
							</div>
						</div>
					</div>
				</div>

				<div class="all-posts">
					<h2>Posts By Category</h2>
					<hr>
					<ul>
						<li><a href="">Linux</a></li>
						<li><a href="">FreeBSD</a></li>
						<li><a href="">Vim</a></li>
					</ul>
				</div>

				<div class="support">
					<h2>Contributions</h2>
					<hr>
					<p>This website was created using:</p>
					<ul>
						<li><a href="https://expressjs.com/">Express</a></li>
						<li><a href="https://rsms.me/markdown-wasm/">markdown-wasm</a></li>
						<li><a href="https://cure53.de/purify">DOMPurify</a></li>
						<li><a href="https://fontawesome.com/">Font Awesome</a></li>
					</ul>
				</div>
			</section>

			<section class="sidebar">
				<div class="archive">
					<h3>Archive by Month</h3>
					<hr>
					<ul>
						<li><a href="">December 2021</a></li>
						<li><a href="">November 2021</a></li>
						<li><a href="">October 2021</a></li>
						<li><a href="">September 2021</a></li>	
					</ul>
				</div>
			</section>
		</main>

		<footer id="included-footer"></footer>
	</body>
</html>