<!DOCTYPE html>
<html>
  <head>
    <title>Projects - cdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <style>
      main {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }

      ul {
        list-style-position: inside;
      }

      a {
        color: #5a5a5a;
      }

      .subject a {
        text-decoration: none;
        font-family: "opensans-bold";
      }

      .subject a:hover {
        text-decoration: underline;
      }

      .spaced-block {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    </style>
  </head>

  <body>
    <header><%- include("partials/header") -%></header>

    <main>
      <h1>cdaemon Projects</h1>

      <div>
        <h2 class="subject"><a href="https://github.com/jakesfreeland/waytoi/">Waytoi</a></h2>
        <hr>
        <div class="spaced-block">
          <p>A modular Wayland compositor and tiling window manager</p>
        </div>
      </div>

      <div>
        <h2 class="subject"><a href="https://github.com/jakesfreeland/cdaemon.com/">cdaemon Web Blog</a></h2>
        <hr>
        <div class="spaced-block">
          <p>
            You're here now! cdaemon has released a series of blog posts on how to replicate
            this website's infrastructure <a href="/tags/cdaemon">here</a>.
          </p>
        </div>
      </div>

      <div>
        <h2>Contributions</h2>
        <p>
          Pull requests and contributions of any kind are greatly appreciated.
          Visit our contact page to get in touch.
        </p>
      </div>
    </main>

    <footer><%- include("partials/footer") -%></footer>
  </body>
</html>
