<!DOCTYPE html>
<html>
  <head>
    <title>Verdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/skeleton.js"></script>
    <style>
      main {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }

      ul {
        list-style-position: inside;
      }

      a {
        color: #5a5a5a;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    </style>
  </head>

  <body>
    <header id="included-header"></header>

    <main>
      <div class="project">
        <h1>Wayland Compositor</h1>
        <hr>

        <div class="info">
          <p>
            Wayland is a fantastic protocol, and even in its early stages it seems
            the clear replacement for the atavistic X protocol that is still commonplace
            today. Unfortunately, applications that support Wayland tend to be less
            stable and to have less extensive documentation than their time-tested X
            counterparts. The goal of this project is to create a simple, high-quality,
            well-documented Wayland compositor that will provide the Wayland community
            with the tools it needs to realize its potential.
          </p>

          <div>
            <h3>Goals</h3>
            <p>
              This project aims to accomplish the following:
              <ul>
                <li>Do this</li>
                <li>Do this, but without doing that</li>
                <li>Achieve this with these restrictions</li>
                <li>Reach these users</li>
              </ul>
            </p>
          </div>

          <div>
            <h3>Contributions</h3>
            <p>
              The Git repository for [name] can be found <a href="">here</a>.
              Pull requests and contributions of any kind are greatly appreciated. Visit
              our contact page to learn how to get in touch.
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer id="included-footer"></footer>
  </body>
</html>
