<nav>
  <div class="nav-main">
    <div class="nav-logo">
      <h1>BLOG</h1>
    </div>

    <label class="menu-toggle" for="menuToggle"><i class="fas fa-bars"></i></label>
  </div>

  <div class="nav-menu">
    <input id="menuToggle" type="checkbox" hidden />
    <ul class="nav-links">
      <li><a href="/html/blog.html">Home</a></li>
      <hr>
      <li><a href="/html/posts.html">Posts</a></li>
      <hr>
      <li><a href="/html/archive.html">Archive</a></li>
      <hr>
      <li><a href="/html/projects.html">Projects</a></li>
      <hr>
      <li><a href="/html/contact.html">Contact</a></li>
    </ul>
  </div>
</nav>