main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

hr.rounded {
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    margin: 5px 0px;
}

textarea, input {
    border: none;
    outline: none;
    resize: vertical;
}

.content * {
    min-width: 100%;
}

.title {
    font-size: 2em;
}

.body {
    font-size: 1em;
    height: 400px;
    min-height: 20px;
}

.tags {
    font-size: 0.85em;
    font-weight: 600;
    color: #57606a;
}

.preview {
    background-color: #dcdcdc;
    margin-bottom: 8px;
}

.preview-expand {
    display: flex;
    gap: 8px;
    align-items: center;
    user-select: none;
    padding: 10px;
}

.preview-content {
    padding: 20px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
}

.preview-content img {
    max-width: 100%;
    max-height: 256px;
}

.title-preview {
    border-bottom: none !important;
}

.banner-preview {
    object-fit: cover;
    max-height: 256px;
    width: 100%;
}

.hr-preview {
    margin: 16px 0 !important;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.options-buttons {
    display: flex;
    gap: 4px;
}

.options button, .options label {
    font-size: 14px;
    text-align: center;
    border: none;
    background-color: #426e88;
    color: #fff;
    padding: 10px;
}

.options-author {
    text-align: end;
}

.error-msg {
    color: red;
    font-weight: bold;
    font-size: 0.8em;
}

@media(max-width: 500px) {
    .options {
        flex-direction: column;
        align-items: start;
    }

    .options-author {
        text-align: left;
    }
}