@font-face {
    font-family: "opensans-regular";
    src: url(/fonts/OpenSans/opensans-regular.ttf);
}

@font-face {
    font-family: "opensans-italic";
    src: url(/fonts/OpenSans/opensans-italic.ttf);
}

@font-face {
    font-family: "opensans-semibold";
    src: url(/fonts/OpenSans/opensans-semibold.ttf);
}

@font-face {
    font-family: "opensans-bold";
    src: url(/fonts/OpenSans/opensans-bold.ttf);
}