.intro img {
    object-fit: cover;
    max-height: 256px;
    width: 100%;
}

.intro h1 {
    font-size: 2em;
}

.intro h5 {
    margin-bottom: 8px;
}

.intro a {
    text-decoration: none;
    color: #5a5a5a;
}

.intro a:hover {
    text-decoration: underline;
}

.intro hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid hsla(210,18%,87%,1);
    height: .25em;
    margin: 8px 0;
    background-color: #d0d7de;
    border: 0;
}

.body img {
    max-width: 100%;
    max-height: 256px;
}

.tags h6 {
    font-weight: 600;
    font-size: .85em;
    color: #57606a;
    margin-top: 1em;
}