* {
    margin: 0;
    padding: 0;
    font-family: "opensans-regular";
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    margin: 20px 10%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

hr.rounded {
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    margin: 5px 0px;
}

textarea, input {
    border: none;
    outline: none;
    resize: vertical;
}

.content * {
    min-width: 100%;
}

.title {
    font-size: 2em;
}

.body {
    font-size: 1em;
    height: 400px;
    min-height: 20px;
}

.tags {
    font-size: 0.85em;
    font-weight: 600;
    color: #57606a;
}

.preview {
    background-color: #dcdcdc;
    margin-bottom: 10px;
}

.preview-expand {
    display: flex;
    gap: 8px;
    align-items: center;
    user-select: none;
    padding: 10px;
}

.preview-content {
    padding: 20px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
}

.options {
    display: flex;
    justify-content: space-between;
    text-align: end;
}

.options button, .options label {
    border: none;
    background-color: #426e88;
    color: #fff;
    padding: 0.6em 0.8em;
}