main {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

a {
  color: #5a5a5a;
}

ul {
  list-style-position: inside;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.intro h1 {
  font-size: 2em;
  font-family: "opensans-bold";
}

.featured-posts {
  max-width: 512px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.featured-post {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #1a1a1a;
  height: 128px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.featured-left {
  height: 128px;
  min-width: 128px;
  max-width: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.featured-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.featured-right {
  margin: 10px;
  color: #fff;
}

.featured-right a {
  font-family: "opensans-semibold";
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
}

.featured-right a:hover {
  color: #5a5a5a;
}

.featured-right p {
  font-size: 0.8em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: max-content;
}

.by-tag ul {
  list-style: none;
}

@media(max-width: 1000px) {
  main {
    flex-direction: column;
    justify-content: normal;
    gap: 16px;
  }

  .featured-posts {
    flex-direction: column;
    gap: 4px;
  }

  .by-tag h3 {
    font-size: 1.5em;
  }

  .by-tag ul {
    list-style: disc;
    list-style-position: inside;
  }
}