main {
  display: flex;
  justify-content: space-between;
  gap: 128px;
}

a {
  color: #5a5a5a;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.intro h1 {
  font-size: 2em;
  font-family: "opensans-bold";
}

.featured-posts {
  display: flex;
  gap: 16px;
}

.featured-post {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: #1a1a1a;
  height: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.featured-left {
  width: 24%;
}

.featured-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 8px;
}

.featured-right {
  margin: 20px;
  color: #fff;
}

.all-posts ul, .support ul {
  list-style-position: inside;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: max-content;
}

.archive ul {
  list-style: none;
}

@media(max-width: 1000px) {
  main {
    flex-direction: column;
    justify-content: normal;
    gap: 16px;
  }

  .featured-posts {
    flex-direction: column;
    gap: 4px;
  }

  .featured-post {
    height: 120px;
  }

  .featured-left {
    width: 100px;
  }

  .archive h3 {
    font-size: 1.5em;
  }

  .archive ul {
    list-style: disc;
    list-style-position: inside;
  }
}