main {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

a {
  color: #5a5a5a;
}

ul {
  list-style-position: inside;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.intro h1 {
  font-size: 2em;
  font-family: "opensans-bold";
}

.featured-header {
  margin-bottom: 8px;
}

.featured-posts {
  display: flex;
  gap: 8px;
}

.featured-post {
  flex: 1;
  background-color: #1a1a1a;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 10px;
}

.featured-top {
  height: 200px;
}

.featured-top img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.featured-bottom {
  padding: 8px 16px 16px 16px;
  color: #fff;
}

.featured-bottom a {
  color: #fff;
  text-decoration: none;
}

.featured-bottom a:hover {
  color: #d3d3d3;
}

.featured-bottom h1 a {
  font-family: "opensans-semibold";
  font-size: 0.9em;
}

.featured-bottom p {
  font-size: 0.8em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: max-content;
}

.by-tag ul {
  list-style: none;
}

@media(max-width: 1000px) {
  main {
    flex-direction: column;
    justify-content: normal;
    gap: 16px;
  }

  .featured-posts {
    flex-direction: column;
  }

  .by-tag h3 {
    font-size: 1.5em;
  }

  .by-tag ul {
    list-style: disc;
    list-style-position: inside;
  }
}