<!DOCTYPE html>
<html>
  <head>
    <title>Log In - cdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
  </head>

  <body>
    <header><%- include("../partials/header") -%></header>

    <main>
      <form action="/users/login" method="post">
        <div class="user-info">
          <input name="email" placeholder="Email" maxlength="254" autofocus required />
          <input name="password" placeholder="Password" maxlength="96" type="password" required />
        </div>

        <div class="post-options">
          <button>Log In</button>
        </div>
      </form>
    </main>

    <footer><%- include("../partials/footer") -%></footer>
  </body>
</html>
