<!DOCTYPE html>
<html>
  <head>
    <title>Log In - Verdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/skeleton.js"></script>
  </head>

  <body>
    <header id="included-header"></header>

    <main>
      <form action="/users/login" method="post">
        <div class="user-info">
          <input name="email" placeholder="Email" maxlength="254" autofocus required />
          <input name="password" placeholder="Password" maxlength="96" type="password" required />
        </div>

        <div class="post-options">
          <button>Log In</button>
        </div>
      </form>
    </main>

    <footer id="included-footer"></footer>
  </body>
</html>
