<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up - Verdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
  </head>

  <body>
    <header><%- include("../partials/header") -%></header>

    <main>
      <form action="/users/signup" method="post">
        <div class="user-info">
          <input name="username" placeholder="Username" maxlength="32" autofocus required />
          <input name="password" placeholder="Password" maxlength="96" type="password" required />
          <input name="email" placeholder="Email" maxlength="254" required />
        </div>

        <div class="post-options">
          <button>Sign Up</button>
        </div>
      </form>
    </main>

    <footer><%- include("../partials/footer") -%></footer>
  </body>
</html>
