<!DOCTYPE html>
<html>
  <head>
    <title>Posts - Verdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(function(){ $("#included-header").load("/html/templates/header.html"); });
      $(function(){ $("#included-footer").load("/html/templates/footer.html"); });
    </script>
    <style>
      .intro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
      }

      .create-post {
        font-size: 14px;
        border: none;
        background-color: #426e88;
        color: #fff;
        padding: 8px;
        margin-top: 6px;
      }

      h1 {
        font-family: "opensans-bold";
      }

      ul {
        list-style-position: inside;
      }

      a {
        color: #5a5a5a;
      }

      @media(max-width: 600px) {
        h1 {
          font-size: 1.8em;
        }
      }
    </style>
  </head>

  <body>
    <header id="included-header"></header>

    <main>
      <div class="intro">
        <h1>Posts By Category</h1>
        <% if (admin) { %>
          <a href="/posts/editor"><button class="create-post">Create Post</button></a>
        <% } %>
      </div>

      <ul>
        <% for (var i=0; i<tags.length; ++i) { %>
          <li><a href="/tags/<%= tags[i].Tables_in_blog_tags %>"><%= tags[i].Tables_in_blog_tags %></a></li>
        <% } %>
      </ul>
    </main>

    <footer id="included-footer"></footer>
  </body>
</html>
