<!DOCTYPE html>
<html>
  <head>
    <title>Posts - Verdaemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/fonts/opensans/css/all.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(function(){ $("#included-header").load("/html/templates/header.html"); });
      $(function(){ $("#included-footer").load("/html/templates/footer.html"); });
    </script>
    <style>
      h1 {
        font-family: "opensans-bold";
        margin-bottom: 16px;
      }

      ul {
        list-style-position: inside;
      }

      a {
        color: #5a5a5a;
      }
    </style>
  </head>

  <body>
    <header id="included-header"></header>

    <main>
      <h1>Posts By Category</h1>
      <ul>
        <% for (var i=0; i<tags.length; ++i) { %>
          <li><a href="/tags/<%= tags[i].Tables_in_blog_tags %>"><%= tags[i].Tables_in_blog_tags %></a></li>
        <% } %>
      </ul>
    </main>

    <footer id="included-footer"></footer>
  </body>
</html>
